@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Overpass:wght@100&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(217, 54%, 11%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
}

.img-eth {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.heading {
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
}

.paragraph {
  word-wrap: break-word;
  color: hsl(215, 51%, 70%);
  font-size: 18px;
}

.space-layout {
  display: flex;
  justify-content: space-between;
}

.eth-price {
  display: flex;
  font-family: "Outfit", sans-serif;
  color: hsl(178, 100%, 50%);
}

.days-left {
  display: flex;
  font-family: "Outfit", sans-serif;
  color: hsl(215, 51%, 70%);
}

.line {
  margin-top: 20px;
  margin-bottom: 15px;
  border: 0.5px solid hsl(215, 51%, 70%);
}

.avtaar {
  display: flex;
  align-items: center;
}

.image-avatar {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.creation-name {
  color: hsl(215, 51%, 70%);
}

.name {
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 370px) {
  .card {
    width: 100%;
  }

  .img-eth {
    width: 100%;
  }
}
